@charset "UTF-8";

    ul {
      list-style: none;
      padding: 0;
    }
    
    *{
    	font-family: 'Noto Sans KR', sans-serif;
    }
    
    .btn-grey{
	   	color: #000;
	    background-color: rgb(245,245,245);
	    border-color: rgb(245,245,245);
    }
    .btn-general{
    	color: #FFF;
	    background-color: #142B6F;
	    border-color: #142B6F;
    }
    .btn-general:hover{
    	 color: #FFF;
    	 background-color: #051c5a;
    	 border-color: #051c5a;
    }