@charset "UTF-8";

 #globalwrap {
      width: 80%;
      margin: 10px auto;
    }
    ul {
      list-style: none;
      padding: 0;
    }

    ul li span {
      display: inline-block;
      width: 70px;
    }
    ul li img {
      display: inline-block;
    }
    #first {
      width: 100%;
    }
    #logo {
      margin-right: 15px; 
    }
    #search {
      width: 300px;
      
    }
    #search img {
      background-color: white;  
    }
    #search input::placeholder {
      font-size: 15px;
      color: rgb(187, 187, 187);
      font-weight: 510;
    }
    .sub{
      display: none;
    }

    @media (max-width: 995px) {

      .sub{
        display: flex;
      }
      #search {
        width: 100%;
        margin-top: 15px;
        outline: 2px solid rgb(0,199,174);
        border-radius: 5px;
      }

      /*display : flex 를 강제로 지우기 위해 사용*/
      #subnav {
        display: none !important;
      }

      /*배너를 중앙 정렬하기 위해 사용*/
      #first {
        justify-content: space-between;
      }


    }
   #container{
     min-width: 290px;
   }

    #subnav {
      margin-left: auto;
      text-align: center;
    }

    #subnav .list {
      margin: 0 5px;
    }

    #subnav span {
      line-height: 40px;
    }

    #reg {
      background-color: rgb(0, 199, 174);
      border-radius: 5px;
      margin-left: 15px;
      outline: 2px solid rgb(249, 249, 249);
      font-weight: bold;
      color: white;
      width: 90px;
    }

    #reg:hover {
      background-color: rgb(0, 161, 141);
    }

    #logo,
    #subnav .inner, .sub {
      cursor: pointer;
    }

    img {

      vertical-align: top;
    }

    .inner {

      height: 40px;
    }