@charset "UTF-8";

#loginglobalwrap{
	margin-top:100px;
	
	width:370px;
	
}
#btnarea{
	padding:10px;
	text-align: center;
}
.warning{
	font-size: 13px;
	color: red;
	font-weight: light;
	height:20px;
}
#loading{
	width: 45px;
	display: block;
	margin:0 auto;
}
#auth_warning{
	height:40px;
	padding:10px;
}
#auth_warning::before{
	outline: 1px solid black;
	content:'';
	display: block;
	margin-top:20px;
	margin-bottom:20px;
	
}
