@charset "UTF-8";

#loginglobalwrap{
	margin-top:100px;
	
	width:370px;
	
}
#btnarea{
	padding:10px;
	text-align: center;
}
.warning{
	font-size: 13px;
	color: red;
	font-weight: light;
}
#loading{
	width: 45px;
	display: block;
	margin:0 auto;
}


