<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.alj.dream.category.dao.CategoryDao">
 
 
 	<select id="getChildCategory" resultType="com.alj.dream.category.domain.ChildCategory">
		SELECT child.cat_idx, child.cat_nm FROM category parent JOIN category child ON parent.cat_nm=child.cat_type WHERE parent.cat_idx IN
	    <foreach collection="list" item="cat_idx" open="(" close=")" separator=",">
	        #{cat_idx}
	    </foreach>
	</select>
	
	<select id="getCategoryIdxByName" resultType="String">
		select cat_idx FROM category WHERE cat_nm=#{arg0} 
	</select>
 </mapper>
 