<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
  <mapper namespace="com.alj.dream.chat.dao.ChatDao">
 
	<insert id="insertChat"
 			parameterType="com.alj.dream.chat.domain.Chat"
 			>
 	INSERT INTO dream.chat (match_idx, m_sender, m_reciever, message)
 	values(#{match_idx}, #{m_sender}, #{m_reciever}, #{message})
 	</insert>
 	
 	
 	<select id="selectChatRoomByIdx"
 			resultType="com.alj.dream.chat.domain.ChatRoom"><!--  -->
 	select
		mat.match_idx, mat.match_yn, c.cat_nm, c.cat_type,
		<if test='param1 eq "mentee"'>
			mat.mentee_idx as sender_idx, mat.mentor_idx as reciever_idx
		</if>
		<if test='param1 eq "mentor"'>
			mat.mentor_idx as sender_idx, mat.mentee_idx as reciever_idx
		</if>
	from 
		dream.match mat,
		post p join category c on c.cat_idx=p.cat_idx
	where 
		<if test='param1 eq "mentee"'>
		mentee_idx=#{param2} and
		mentee_outyn ='N'
		</if>
		<if test='param1 eq "mentor"'>
		mentor_idx=#{param2} and
		mentor_outyn ='N'
		</if>
		and mat.post_idx = p.post_idx 
 	</select>
 	
 	
 	<select id="selectChatByMatchidx"
 			resultType="com.alj.dream.chat.domain.Chat">
 	select 
 		match_idx, message, (select concat((select MONTH(sent)),'월 ',(select DAY(sent)),'일',' ',(select time_format(sent, '%H:%i'))))as sent, m_sender, m_reciever
 	from 
 		chat 
 	where 
 		match_idx = #{matchidx} order by sent asc;
 	</select>
 	
 	
 	<select id="selectCurTime"
 			resultType="String">
 		select current_timestamp from dual;
 	</select>
 	
 	
</mapper>