<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.alj.dream.match.dao.MatchDao">
 
 
<insert id="insertMatch"
 			parameterType="com.alj.dream.match.domain.Match"
 			useGeneratedKeys="true"
 			keyProperty="match_idx">
 	INSERT INTO dream.match (post_idx, mentee_idx, mentor_idx)
	values (#{post_idx},#{mentee_idx},#{mentor_idx});
 	</insert>
 	
 	<select id="selectMatch"
 			resultType="com.alj.dream.match.domain.Match">
 	select * 
 	from dream.match
 	where post_idx=#{param1} and mentee_idx=#{param2} and mentor_idx=#{param3};
 	</select>
 	
 	<insert id="insertChat"
 			parameterType="com.alj.dream.match.domain.Chat"
 			useGeneratedKeys="true"
 			keyProperty="chat_idx">
 	INSESRT INTO dream.chat (match_idx, message, m_sender, m_reciever)
 	values(#{match_idx}, #{message}, #{m_sender}, #{m_reciever});
 	</insert>
 	
 	
</mapper>