<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.alj.dream.post.dao.PostDao">
 
 <!-- 작성자 : 정지원  -->
 
 	<select id="selectTotalPost"
		resultType="int">
		select count(distinct p.post_idx)
		from post p, category c, dream.match m
		where p.m_idx=#{param1} and c.cat_idx=p.cat_idx and p.wanted=#{param2} and
			m.post_idx=p.post_idx;
	</select> 
 
 	<!-- 매칭테이블을 가지고있는 게시물 -->
 	<select id="selectRequestPostByMIdx" 
 		resultType="com.alj.dream.post.domain.RequestGroup">	
 		select distinct 
 			p.post_nm, 
 			p.post_idx, 
 			c.cat_nm, 
 			p.post_regdate
		from 
			post p join category c on  c.cat_idx=p.cat_idx, dream.match m 
		where 
			p.m_idx=#{param1} and p.wanted=#{param2} and m.post_idx=p.post_idx ;
 	</select>
 	
 	<select id="selectRequestPostByPostIdx" 
 		resultType="com.alj.dream.post.domain.RequestGroup">	
 		select distinct 
 			p.post_nm, 
 			p.post_idx, 
 			c.cat_nm, 
 			p.post_regdate
		from 
			post p join category c on  c.cat_idx=p.cat_idx
		where 
			p.post_idx = #{idx};
 	</select>
 	
 	<!-- 매칭테이블을 가지고있는 회원 -->
	<select id="selectRequestMemberByPostIdx"
 		resultType="com.alj.dream.post.domain.RequestMember">
 		select 
 			mem.m_photo, mem.m_idx, p.post_idx, mem.m_nm, pr.line, m.match_idx, m.match_yn, pr.line
		from 
			post p, category c, dream.match m, member mem, profile pr
		where 
			p.post_idx=#{idx}
			and m.post_idx=p.post_idx 
			and pr.m_idx=mem.m_idx and c.cat_idx=p.cat_idx and
			
			case when p.wanted like 'mentor' then
			mem.m_idx=m.mentor_idx
			when p.wanted like 'mentee' then
			mem.m_idx=m.mentee_idx
			end 	
		order by m.match_idx;
 	</select> 
 
 	<!-- 파라미터 타입 생각하기 -->
 	<!-- 매칭테이블 insert -->
 	<insert id="insertMatch"
 			parameterType="com.alj.dream.post.domain.Match"
 			useGeneratedKeys="true"
 			keyProperty="match_idx">
 	INSERT INTO dream.match (post_idx, mentee_idx, mentor_idx)
	values (#{post_idx},#{mentee_idx},#{mentor_idx});
 	</insert>
 	
 	<select id="selectMatch"
 			resultType="com.alj.dream.post.domain.Match">
 	select * 
 	from dream.match
 	where post_idx=#{param1} and mentee_idx=#{param2} and mentor_idx=#{param3};
 	</select>
 	
 	<insert id="insertChat"
 			parameterType="com.alj.dream.post.domain.Chat"
 			useGeneratedKeys="true"
 			keyProperty="chat_idx">
 	INSESRT INTO dream.chat (match_idx, message, m_sender, m_reciever)
 	values(#{match_idx}, #{message}, #{m_sender}, #{m_reciever});
 	</insert>
 	
 <!-- 작성자 : 김지현 -->
	<insert id="insertPost"
 			parameterType="com.alj.dream.post.domain.PostWriteRequest"
			useGeneratedKeys="true"
			keyProperty="post_idx">
 	INSERT INTO post (post_nm, post_content, cat_idx, wanted, m_idx)
	VALUES (#{post_nm}, #{post_content}, #{cat_idx}, #{wanted}, #{m_idx});
 	</insert>
 	
 	<!-- 게시물 수정 -->
 	<update id="updatePost"
 			parameterType="com.alj.dream.post.domain.PostWriteRequest">
 	
 	</update>
 	
 	<!-- 게시물 삭제 : 삭제날짜 추가 -->
 	<!-- 게시물 첨부파일 삭제... -->
 	<update id="deletePost"
 			parameterType="int">
 	update post
 	set post_deldate=current_timestamp()
 	where post_idx=#{idx}
 	</update>
 	
 	<select id="selectPostByPostIdx"
 			resultType="com.alj.dream.post.domain.PostViewRequest">
 	select post_idx, post_nm, post_content, post_regdate, post_editdate, p.cat_idx, c.cat_nm, m_idx
	from post p, category c
	where p.cat_idx = c.cat_idx and post_idx=#{idx}
 	</select>
 	
 	<select id="selectListByMemberIdx"
 			resultType="com.alj.dream.post.domain.PostListInfo">
 	select p.post_idx, p.post_nm, p.m_idx, c.cat_idx, c.cat_nm, m.match_yn
 	from post p left join category c on p.cat_idx=c.cat_idx
				left join dream.match m on p.post_idx=m.post_idx
	where p.post_deldate is null and p.m_idx=#{m_idx} and p.wanted=#{wanted}
	order by post_regdate desc limit #{index}, #{count}
 	</select>
 	
 	<select id="selectTotalCountByIdx"
 			resultType="int">
 	select count(*) from post where m_idx=#{m_idx} and wanted=#{wanted}
 	</select>
 	
 	<select id="selectListBySearchParams"
 			parameterType="com.alj.dream.post.domain.SearchParams"
 			resultType="com.alj.dream.post.domain.PostListInfo">
 	select p.post_idx, p.post_nm, p.m_idx, c.cat_idx, c.cat_nm, member.loc_idx, loc.loc_nm, m.match_yn
 	from post p left join category c on p.cat_idx=c.cat_idx
 				left join member on p.m_idx=member.m_idx
 				left join loc on member.loc_idx=loc.loc_idx
				left join dream.match m on p.post_idx=m.post_idx
 	where p.post_deldate is null and p.m_idx!=#{m_idx} and p.wanted=#{wanted}
 		  and p.cat_idx=#{cat_idx} and member.loc_idx=#{loc_idx}
 	order by post_regdate desc		
 	</select>
 
 </mapper>