<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 
 <mapper namespace="com.alj.dream.profile.dao.ProfileDao">
 
 	<select id="getProfile" resultType="com.alj.dream.profile.domain.MyProfileInfo">
 		SELECT profile_idx, m_idx, line, calltime, career, qna, date_format(profile_regdate,'%Y년 %m월 %d일') as profile_regdate FROM
 				profile 
 				WHERE
 				m_idx=#{arg0} and profile_deldate is null
 	</select>
 	
 	<insert id="insertProfile" parameterType="com.alj.dream.profile.domain.ProfileRegisterData" useGeneratedKeys="true" keyProperty="profile_idx">
 		INSERT INTO dream.profile(m_idx,line,calltime,career,qna) values(#{m_idx},#{line},#{calltime},#{career},#{qna})
 	</insert>
 	
 	
 	<!-- 프로필 삭제 -->
	<update id="deleteProfile" parameterType="String">
		UPDATE dream.profile set profile_deldate=current_timestamp
		WHERE profile_idx=#{arg0}	
	</update>
	
	
	<!-- 프로필 수정 -->
	<update id="editProfile" parameterType="com.alj.dream.profile.domain.ProfileRegisterData">
	
		UPDATE dream.profile 
		<set>
			<if test="line!=null">
				line=#{line}
			</if>
			<if test="career!=null">
				career=#{career}
			</if>
			<if test="calltime!=null">
				calltime=#{calltime}
			</if>
			<if test="qna!=null">
				qna=#{qna}
			</if>
		</set>
		
		WHERE m_idx=#{m_idx} 
	
	</update>
	
 </mapper>