<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.alj.dream.qna.dao.QnaDao">
 
 	<select id="getTotalNumOfQna" resultType="Integer">
 		SELECT count(*)
 		FROM qna
 		WHERE qna_deldate is null
 	</select>
 


	<select id="getQnaList" resultType="com.alj.dream.qna.domain.Qna">
		SELECT qna_idx, qna_title, qna_regdate
		FROM qna
		WHERE qna_deldate is null
		order by qna_regdate desc
		limit #{arg0},#{arg1}
		
	
	</select>
 	
 </mapper>
 
 